.item-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 95%;
    box-shadow: 5px 5px 12px -1px #000000;
    margin: 20px;
    border-radius: 10px;
    transition: all 0.4s;
    &:hover{
        transform: scale(1.05);
    }

    &__header{
        display: flex;
        flex-direction: row;
        justify-items: flex-start;
        align-items: center;
        justify-self: flex-start;
        width: 100%;
        padding-left: 20px;
        padding-top: 10px;

        h2{
            font-size: 1.8rem;
            width: 100%;
        }

        p{
            font-size: 2.4rem;
            width: 40px;
            border-radius: 5px;
            text-align: center;
            border: 2px solid grey;
         margin-right: 10px;
           
        }
    }

   

    img{
        width: 300px;
    }
}